extends layout
include _includes/sharedHTMLfunctions
block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    .card.card-primary.p-2.mb-3
                        p.rating
                            +outputRating(location.rating)
                        p= location.address
                    .card.card-primary.p-2.mb-3
                        .card-header
                            h2.card-title Opening hours
                        .card-body
                            ul.list-group.list-group-flush
                                each time in location.openingTimes
                                    li.list-group-item #{time.days} :
                                        if time.closed
                                            | closed
                                        else
                                            | #{time.opening} - #{time.closing}
                    .card.card-primary.p-2.mb-3
                        .card-header
                            h2.card-title Facilities
                        .card-body
                            each facility in location.facilities
                                span.badge.text-bg-success
                                    span.bi.bi-check
                                    | &nbsp;#{facility}
                                | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .card.card-primary.p-2
                        .card-header
                            h2.card-title Location map
                        .card-body
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}&scale=2')
            .row
                .col-xs-12
                    .card.card-primary.review-card.p-2
                        .card-header
                            a.btn.btn-primary.float-end(href='/location/review/new') Add review
                            h2.card-title Customer reviews
                        .card-body.review-container.list-group.list-group-flush
                            each review in location.reviews
                                .row.list-group-item
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRating(review.rating)
                                            span.reviewAuthor #{review.author}
                                            small.reviewTimestamp #{review.timestamp}
                                        .col-xs-12
                                            p !{(review.reviewText).replace(/\n/g, '<br/>')}
        .col-xs-12.col-md-3
            p.lead #{location.name} #{sidebar.context   }
            p= sidebar.callToAction